name: wiki-sync
on:
  push:
    branches: main
    paths: [doc/**, .github/workflows/wiki-sync.yml]
permissions:
  contents: write
concurrency:
  group: wiki-sync
  cancel-in-progress: true
jobs:
  synchronize-wiki:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main repo
        uses: actions/checkout@v6
        with:
          repository: ${{ github.repository }}
          path: ${{ github.repository }}
          fetch-depth: 0
      - name: Checkout wiki repo
        uses: actions/checkout@v6
        with:
          repository: ${{ github.repository }}.wiki
          path: ${{ github.repository }}.wiki
      - name: Set up git configuration
        run: |
          git config --global user.name "GitHub Actions [wiki clanker]"
          git config --global user.email "action@github.com"
      - name: Run wiki synchronization script
        run: |
          cd $GITHUB_WORKSPACE/${{ github.repository }}
          ./scripts/synchronize_wiki.sh -w $GITHUB_WORKSPACE/${{ github.repository }}.wiki -b ${{ github.event.before }} -y
